{% extends 'base.html.twig' %}

{% block title %}Hello MainlandsController!{% endblock %}

{% block body %}
<ul>
    {% for mainland in mainlands %}
   
        <li>{{animal.name}}
        {{mainland.mainland}}</li>
        {% endfor %}
    </ul>
{% endblock %}
