{% extends 'base.html.twig' %}

{% block title %}Hello FamiliesController!{% endblock %}

{% block body %}
<ul>
    {% for animal in animals %}
        <li>{{animal.family}}</li>
        {% endfor %}
    </ul>
{% endblock %}
