{% extends 'base.html.twig' %}

{% block title %}Hello FamiliesController!{% endblock %}

{% block body %}
<ul>
    {% for families in family  %}
        <li>{{families.name}}</li>
        {% endfor %}
        <a href="{{ path('animals_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
    </ul>
{% endblock %}
