{% extends 'base.html.twig' %}

{% block title %}Hello ZoosController!{% endblock %}

{% block body %}
<ul>
    {% for animal in animals %}
   
        <li>{{animal.zoo}}</li>
        {% endfor %}
    </ul>
{% endblock %}
