{% extends 'base.html.twig' %}

{% block title %}Hello ZoosController!{% endblock %}

{% block body %}
<ul>
    {% for zoo in zoos %}
   
        <li>{{zoo.name}}</li>
        {% endfor %}
        <a href="{{ path('animals_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
    </ul>
{% endblock %}
